*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}

#table{
    width: 300px;
    height: 300px;
    border: 1px solid blueviolet;
   margin-left: 450px;
}
#btn{
    width: 100px;
    height: 30px;
    background-color: rgb(2, 49, 33);
    color: white;
    border-radius: 5px;
    margin: 10px ;
    margin-left: 550px;
}
#db1, db2, db3, db4, db5, db6, db7,db8, db9{
    width: 100px;
    height: 100px;
}